# Put this as first line in main js file: #!/usr/bin/env node
# Make a symlink: systemctl enable /full/path/to/<appname.service>
# If this file is edited: systemctl daemon-reload
# Start: systemctl start <appname>
# Stop: systemctl stop <appname>
# See logs: journalctl -u <appname>
[Unit]
Description=PartyQueue Dashboard
After=network.target

[Service]
Type=simple
User=root
Environment=SERVER_PORT=80
Environment=DATABASE_URL='mongodb://chriswoodle:XEVEUVejMqM8gXCY@stitch.mongodb.com:27020/?authMechanism=PLAIN&authSource=%24external&ssl=true&appName=partyqueue-vdayw:mongodb-atlas:local-userpass'
ExecStart=/usr/bin/node /party-queue/build/server.js
Restart=on-failure
WorkingDirectory=/party-queue

[Install]
WantedBy=multi-user.target